include setup.py
include subseq/*.pyx
include subseq/*.pxd
include subseq/cpp_sources/*

exclude subseq/cpp_sources/.clang-format
exclude subseq/cpp_sources/.clang-tidy
exclude subseq/cpp_sources/cmake_install.cmake
exclude cpp_sources/libsubseq_cpp.a
